<!DOCTYPE HTML>
<html>
	<head><title>AUTOMATED  BIRTHDAY</title>
		<link rel="stylesheet" href="css/style.css">

	</head>
	<body >
		<div class="edit1">
			<ul><li><a class="edit2"> Admin login</a></li></ul>
		</div>
		<div>
		<nav>
			<ul>
			<li><a class="edit2" >FEEDBACK</a></li>
			<li><a class="edit2" >REQUEST</a></li>
			<li><a class="edit2" href="register">REGISTER</a></li>
			</ul>
		</nav>
	</div>
</body>
</html>