<html>
<head>
	<link rel="stylesheet" type="text/css" href="css/register.css">
	<title></title>
</head>
<body >
	<div class="moveform">
		<form method="POST" >
				<h2>REGISTER</h2>
			<input type="text" name="name" placeholder="Your Name" required="required"></br>
			<input type="email" name="email" placeholder="Email ID" required="required" ></br>
			<input type="text" name="number" placeholder="Mobile Number" required="required" ></br>
			<input type="text" name="stid" placeholder="Student ID" required="required"></br>
			<input type="number" name="year" placeholder="Year" required="required"></br></br>
			
			
			</select></br></br>
			<input type= "radio" name="gender" value="Male" required="required">Male
			<input type= "radio" name="gender" value="Female" required="required">Female </br>
			<a href=""><input type= "submit" name="submit" value="SUBMIT"></a>
		</form>
	</div>
	
</body>
</html>