<html>
<head>
	<link rel="stylesheet" type="text/css" href="css/register.css">
	<title></title>
</head>
<body >
	<div class="moveform">
		<form action = "/register" method="POST" >
				<h2>REGISTER</h2>
			<input type="text" name="name" placeholder="Your Name"  ></br>
			<input type="email" name="email" placeholder="Email ID"   ></br>
			<input type="text" name="number" placeholder="Mobile Number"   ></br>
			<input type="text" name="stid" placeholder="Student ID"  ></br>
			<input type="text" name="password" placeholder="password"  ></br>
			<input type="text" name="confirmpassword" placeholder="confirm password"  ></br></br>
			
			</select></br>
			<input type= "radio" name="gender" value="Male"  >Male
			<input type= "radio" name="gender" value="Female"  >Female </br>
			<a href=""><input type= "submit" name="submit" value="SUBMIT"></a>
		</form>
	</div>
	
</body>
</html>